* { padding: 10; margin: 5; box-sizing: border-box; } 
h1 { color: #ff2f2f } 
h2 { color: #8a2be2 } 
h3 { background-color: #0ff } 
h3 { color: rgb(49, 31, 207); font-size: 38px; background-color: #8a2be2; } 
.ADELINA { background-color: rgb(156, 105, 105); padding: 10px 20px 10px 5px; margin: 5px 10px 15px 5px; } 
.ARCE { background-color:rgb(191, 184, 204); } 
.span-test { color: #ff2f2f; } 
.line-through { text-decoration: line-through; } 
.qspanf { quotes: "\00ab" "\00bb"; } 
.qspane { quotes: "\201c" "\201d"; } 
.smallP { margin-block-start: 10px; margin-block-end: 10px; margin-inline-start: 30px; margin-inline-end: 3000px; } 
p {
    font-size: 16px;
    text-align: justify;
}
.container { 
    max-width: 1600px; height: 150px; 
    /* background-color: rgb(60, 37, 187); */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
} 
/************/
.banner {
    background-color: rgb(195, 228, 228);
}

.banner .container {
    background-image: url(../img/images.jpg);
    background-color: rgb(117, 73, 14);
    background-repeat: no-repeat;
}

.main {
    background-color: bisque;
    margin-top: 50px;
}